@import "tailwindcss";

:root {
  --background: #282c33;
  --foreground: #ffffff;
  --gray: #abb2bf;
  --primary: #c778dd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --color-primary: var(--primary);
  --font-sans: var(--font-fira-code);
  --font-mono: var(--font-fira-code);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
